body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #333;
    border-radius: 10px 10px 0 0;
}

h1 {
    font-size: 28px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #333;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #555;
}

p {
    margin: 0;
    line-height: 1.6;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding-left: 15px;
    text-indent: -15px;
}

.main-content, .sidebar {
    display: inline-block;
    vertical-align: top;
}

.main-content {
    width: 65%;
}

.sidebar {
    width: 30%;
    padding-left: 20px;
}

.sidebar ul {
    padding-left: 0;
}

.link {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 8px;
    width: 100%;
    margin: 5px 0;
}

.progress-bar div {
    height: 100%;
    border-radius: 5px;
}

.bar-english {
    width: 60%;
    background-color: #0077cc;
}

.bar-greek {
    width: 100%;
    background-color: #00cc77;
}

.bar-german {
    width: 30%;
    background-color: #ffcc00;
}

.bar-albanian {
    width: 100%;
    background-color: #cc0077;
}

.sidebar h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    color: #333;
    margin-top: 30px;
}

.sidebar p {
    margin: 5px 0;
}


/* Ensure the list items have bullets */
ul.coursework-list {
    list-style-type: disc; /* This adds bullet points */
    padding-left: 20px;    /* Adjust padding to accommodate bullets */
}

.academic-projects h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.academic-projects p {
    margin: 0;
    padding: 5px 0 15px 0;
    line-height: 1.6;
}

.main-content h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #333;
}

.main-content h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.main-content p {
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}

.main-content ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

.main-content ul li {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #333;
}

.work-experience {
    margin-bottom: 30px;
}